@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: var(--color-background);
}

:root {
    --color-background: #f6f6f9;
}

[data-theme="dark"] {
    --color-background: #181a1e;
}